* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

.container {
  width: 80vw;
  min-height: 100vh;
  margin: auto;
  /* border: 1px solid #ffffff; */
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 10px;
  background-color: #ffffff;
  box-shadow: 0 0px 10px 8px #a5a5a5;
}

.heading1 {
  padding: 10px 0px;
}

/* =============================== Heading =============================== */

#heading {
  text-align: center;
  padding: 10px 0px;
}

#resultModal {
  opacity: 0%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
  padding: 5px 10px;
  color: #ffffff;
  font-size: 24px;
  transition: all 0.4s ease;
}

#resultModalBtn {
  float: right;
  cursor: pointer;
}

/* ============================== Game area ============================== */

#gameArea {
  background: linear-gradient(to right, #142016, #16721b, #142016);
  border: 1px solid #000000;
  margin: 0px 5px;
}

#cardArea {
  display: flex;
  text-align: center;
  color: #ffffff;
}

.board {
  width: 50%;
  border: 1px solid #f0f0f0;
  min-height: 400px;
  height: auto;
  margin: 5px;
  overflow: hidden;
}

.board img {
  width: 20%;
  margin: 5px;
  /* Additional Styling to Image */
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 1px #141414;
}

#buttonArea {
  margin: 5px;
  padding: 5px 0px;
  border: 1px solid #5a5a5a;
}

#controls {
  width: fit-content;
  margin: auto;
}

.btn {
  padding: 8px 12px;
  margin: 10px;
  border: 0px solid transparent;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 5px 1px #3b3b3b;
}

.btn:hover {
  border: 2px solid #000000;
}

#youButton {
  background-color: #077210;
}
#oppButton {
  background-color: #bb1f1f;
}
#resetButton {
  background-color: #202020;
}

/* =============================== Scores =============================== */

#scores table {
  border: 1px solid #000000;
  margin: 10px auto;
  text-align: center;
  box-shadow: 0px 1px 4px 0px #333333;
}

#myScore {
  background-color: #077210;
  color: #ffffff;
}
#oppScore {
  background-color: #bb1f1f;
  color: #ffffff;
}
#draws {
  background-color: #202020;
  color: #ffffff;
}

#scores table tr th,
#scores table tr td {
  padding: 5px;
}

/* ========================= Responsive ========================== */
@media only screen and (max-width: 600px) {
  .container {
    width: 95vw;
  }

  #cardArea {
    flex-direction: column;
  }

  .board {
    width: 97%;
  }

  .board img {
    width: 25%;
  }

  .btn:hover {
    border: 0px solid transparent;
  }
}
